.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 25%;
  background-color: #f1f1f1;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #ddd;
}

.mainContent {
  width: 75%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
