.shareButtons {
  display: flex;
  gap: 10px;
  margin: 15px 0;

  a {
    display: block;
    width: 45px;
    height: 45px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: white;
      width: 17px;
    }

    &:nth-child(1) {
      background: #3371d8;
    }
    &:nth-child(2) {
      background: #309deb;
    }
    &:nth-child(3) {
      background: #ea462f;
    }
    &:nth-child(4) {
      background: #25d366;
    }
  }
}
