@import "@styles/variables";

.darkModeSwitchContainer {
  max-width: @maxcontentwidth;
  margin: 0 auto;
}

.columnSeparator {
  max-width: @maxcontentwidth;
  margin: 0 auto;

  @media @tablet {
    display: flex;
  }
}

.post {
  color: white;
  padding: 10px;

  @media @desktop {
    width: 66%;
  }

  h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
  }

  ul {
    padding-left: 40px;
    margin-bottom: 1em;
  }
  iframe {
    width: 100%;
    article {
      width: 100% !important;
    }
  }
  p {
    margin-bottom: 0.9rem;
  }
}
.metaData {
  margin-bottom: 20px;
}
.figure {
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  width: 95%;
  max-width: @maxcontentwidth;
  height: 250px;

  @media @tablet {
    height: 500px;
  }
  margin: 0 auto;
  .image {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
}

.content {
  font-family: "Raleway";
  a {
    color: @red;
    text-decoration: none;
  }
}

.breadcrumbs {
  ol {
    font-family: "Roboto";
    width: 90vw;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 3px;

    li {
      white-space: nowrap;

      &:not(:last-of-type) {
        flex: 0;
      }

      &:last-of-type {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  color: @red;
  font-size: 13px;
  margin-bottom: 20px;

  a {
    display: flex;
    color: @red;
    font-size: 13px;
    text-decoration: none;
  }
}
.metaIcons {
  path {
    fill: white;
  }
  height: 14px;
  margin-right: 5px;
}

.date {
  margin-left: 10px;
}

.ad {
  display: flex;
  justify-content: center;
  width: 100vw;
}

body:not(:global .bodyDarkMode) {
  .post {
    h1,
    h2,
    h3,
    p {
      color: black;
    }
  }
}
