@import "@styles/variables";

@headerHeight: 80px;

.header {
  height: @headerHeight;
  width: 100%;
  background: @red;

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    @media @tablet {
      max-width: @maxcontentwidth;
      margin: 0 auto;
      padding-right: 15px;
    }

    @media @desktop {
      padding-right: 0;
    }
  }

  flex-wrap: wrap;
  position: relative;
  li {
    cursor: pointer;
  }
}

.logo {
  width: 150px;
  height: auto;
  padding-left: 15px;
  cursor: pointer;

  @media @tablet {
    width: 100px;
  }

  @media @desktop {
    margin-right: 50px;
    width: 200px;
  }
}

.bars {
  margin-left: auto;
  fill: white;
  width: 22px;

  @media @tablet {
    display: none;
  }
}

.magnifyingGlass {
  width: 18px;
  fill: white;
  margin: 0 5px;
  margin-left: 15px;
  margin-right: 10px;

  cursor: pointer;
}

.nav {
  position: absolute;

  display: none;
  &.navShown {
    display: block;
  }

  top: @headerHeight;
  left: 0;
  z-index: 10;
  color: white;
  background: @red;
  width: 100%;
  ul {
    list-style-type: none;
  }

  @media @tablet {
    display: block;
    position: static;
    width: auto;
    max-width: @maxcontentwidth;
    margin-left: auto;
    ul.topNav {
      display: flex;
      align-items: center;
    }
  }
}

.topNavItem {
  height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;

  @media @tablet {
    font-size: 12px;
  }

  @media @desktop {
    font-size: 14px;
  }

  &:hover {
    color: black;
  }

  padding-left: 15px;

  .highlightedNavItem {
    background: black;
    color: white;
    display: inline-block;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;

    transform: translateX(-10px);
  }
  .caretDown {
    height: 13px;
    fill: white;
    margin-left: 10px;
  }
  &.topNavOpen {
    background: @darkGreyNav;
  }

  @media @tablet {
    margin-right: 20px;

    @media @tablet {
      margin-right: 10px;
    }

    @media @desktop {
      margin-right: 20px;
    }

    position: relative;
    &.topNavOpen {
      background: none;
      color: black;
      .caretDown {
        fill: black;
      }
    }
  }
}
.secondaryNavItems {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 400;
  width: 156px;
  padding-left: 15px;
}

.secondaryLevelNav {
  display: none;

  &.secondaryNavVisible {
    display: block;
  }
  @media @tablet {
    position: absolute;
    top: @headerHeight - 20px;
    background: @red;
    padding-top: 10px;
    li.secondaryNavItemHover {
      background: @darkGreyNav;
      color: white;
    }
    a {
      font-weight: 500;
    }
  }
}

@media @tablet {
  .separation {
    height: 14px;
    width: 2px;
    background: white;
    display: flex;
    align-items: center;
  }
}

.highlightedLi {
  margin-bottom: 3px;

  @media @tablet {
    margin-right: 0px;
  }

  @media @desktop {
    margin-right: 10px;
  }
}
